services:
  donetick:
    image: donetick/donetick
    container_name: donetick
    restart: unless-stopped
    environment:
      DT_OAUTH2_NAME: 'Authelia'
      DT_OAUTH2_CLIENT_ID: 'donetick'
      DT_OAUTH2_CLIENT_SECRET: 'insecure_secret'
      DT_OAUTH2_SCOPE: 'openid profile email'
      DT_OAUTH2_AUTH_URL: 'https://auth.trochalakis.com/api/oidc/authorization'
      DT_OAUTH2_TOKEN_URL: 'https://auth.trochalakis.com/api/oidc/token'
      DT_OAUTH2_INFO_URL: 'https://auth.trochalakis.com/api/oidc/userinfo'
      DT_OAUTH2_REDIRECT_URL: 'https://donetick.trochalakis.net/auth/oauth2'
    ports:
      - 2021:2021
    volumes:
      - /opt/donetick/data:/donetick-data
      - /opt/donetick/config:/config
    environment:
      - DT_ENV=selfhosted
      - DT_SQLITE_PATH=/donetick-data/donetick.db
      
